@model IEnumerable<DrinkUp.Models.Coffee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caffiene)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caffiene)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoffeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoffeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoffeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
