@model DrinkUp.Models.HotCoffee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HotCoffee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotCoffeeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotCoffeeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HotCoffeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotCoffeeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotCoffeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
