@model IEnumerable<DrinkUp.Models.Frapuccino>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FrapType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrapName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FrapType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrapName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FrapID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FrapID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FrapID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
